.materia {
    display: flex;
    flex-direction: column;
    width: 1000px;
    height: 130px;
    margin: 30px auto;
    gap: 25px;
    text-align: justify;
    background-color: rgb(231, 231, 231);
    position: relative;
    border-radius: 5px;
}

.materia__conteudo {
    height: 100%;
}

.materia__titulo {
    font-size: 15px;
    position: absolute;
    top: 10%;
    left: 21%;
    padding: 5px 15px;
}

.materia__conteudo__img {
    width: 20%;
    height: 100%;
}

.materia__conteudo__img:hover,
.materia__titulo:hover {
    cursor: pointer;
    text-decoration: underline;
}

.materia__img {
    height: 100%;
    width: 100%;
    border-radius: 5px;
}


.materia__descricao {
    font-size: 12px;
    position: absolute;
    top: 30%;
    left: 21%;
    padding: 15px;
    font-weight: 200;
}

